<!-- Pricing Section -->
    <section id="how-it-works" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How It Works</h2>
                    <h3 class="section-subheading text-muted">See how we can help you upgrade your seat.</h3>
                </div>
            </div>
            <div class="row text-center how-it-works text-center">
                <div class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2">
                    <img src="https://cdn.pogoseat.com/images/corp/how_it_works/01-map.png">
                </div>
                <div class="col-xs-5 col-sm-4">
                    <img src="https://cdn.pogoseat.com/images/corp/how_it_works/02-list.png">
                </div>
                <div class="col-xs-8 col-xs-offset-2">
                    <h4>Find available seat upgrades</h4>
                    <p class="text-muted">Vew available seat upgrades on the map or list. Click a pin on the map or select a seat from the list.</p>
                </div>
                <div class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2">
                    <img src="https://cdn.pogoseat.com/images/corp/how_it_works/03-barcode.png">
                </div>
                <div class="col-xs-5 col-sm-4">
                    <img src="https://cdn.pogoseat.com/images/corp/how_it_works/04-price.png">
                </div>
                <div class="col-xs-8 col-xs-offset-2">
                    <h4>Pick your seat upgrade</h4>
                    <p class="text-muted">Scan or type in the barcodes for the current seat or seats that you would like to upgrade. See the discounted price for your upgrade and when you are ready, press continue.</p>
                </div>
                </row>
                <div class="col-xs-5 col-xs-offset-1 col-sm-4 col-sm-offset-2">
                    <img src="https://cdn.pogoseat.com/images/corp/how_it_works/05-purchase.png">
                </div>
                <div class="col-xs-5 col-sm-4">
                    <img src="https://cdn.pogoseat.com/images/corp/how_it_works/06-ticket.png">
                </div>
                <div class="col-xs-8 col-xs-offset-2">
                    <h4>Enjoy the game!</h4>
                    <p class="text-muted">Confirm your purchase and get your new tickets. Just show the ushers the tickets on your mobile phone.</p>
                </div>
            </div>    
        
            <div class="container">
                <hr>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Pricing</h2>
                        <h3 class="section-subheading text-muted">See how our flexible pricing works.</h3>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3>Small</h3>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title price">10% per upgrade</h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">Up to 100 Tickets</li>
                            <li class="list-group-item">24/7 Support</li>
                            <li class="list-group-item">Powerful Analytics</li>
                            <li class="list-group-item">White Label Technology</li>
                            <li class="list-group-item">Intuitive Dashboard System</li>
                            <li class="list-group-item"><a class="btn btn-default" href="https://clients-demo.pogoseat.com/signup">Sign Up</a></li>
                        </ul>
                    </div>          
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h3>Large</h3>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title price">8% per upgrade</h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">Up to 500 Tickets</li>
                            <li class="list-group-item">24/7 Support</li>
                            <li class="list-group-item">Powerful Analytics</li>
                            <li class="list-group-item">White Label Technology</li>
                            <li class="list-group-item">Intuitive Dashboard System</li>
                            <li class="list-group-item"><a class="btn btn-default" href="https://clients-demo.pogoseat.com/signup">Sign Up</a></li>
                        </ul>
                    </div>          
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-danger text-center">
                        <div class="panel-heading">
                            <h3>Enterprise</h3>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title price">Flexible</h3>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">More than 500 Tickets</li>
                            <li class="list-group-item">24/7 Support</li>
                            <li class="list-group-item">Powerful Analytics</li>
                            <li class="list-group-item">White Label Technology</li>
                            <li class="list-group-item">Intuitive Dashboard System</li>
                            <li class="list-group-item"><a class="btn btn-danger" href="mailto:sales@pogoseat.com">Contact Us</a></li>
                        </ul>
                    </div>          
                </div>
            </div>
    </section>