<!-- Clients -->
    <section id="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Clients</h2>
                    <h3 class="section-subheading text-muted">We work with teams from MLB to NCAA.</h3>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-3 col-sm-4 clients">
                        <a href="http://mlb.mlb.com/home">
                            <img src="img/clients/mlb.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 col-sm-4 clients">
                        <a href="http://www.nba.com/">
                            <img src="img/clients/nba.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 col-sm-4 clients">
                        <a href="http://www.nhl.com/">
                            <img src="img/clients/nhl.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-3 col-sm-3 clients">
                        <a href="http://www.football-league.co.uk/">
                            <img src="img/clients/fl.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-4 col-sm-3 clients">
                        <a href="http://www.mlssoccer.com/">
                            <img src="img/clients/mls.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-4 col-sm-3 clients">
                        <a href="http://www.afl.com.au/">
                            <img src="img/clients/afl.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-4 col-sm-3 clients">
                        <a href="http://www.ncaa.com/">
                            <img src="img/clients/ncaa.jpg" class="img-responsive img-centered" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center">
                <h3 class="section-subheading text-muted">We are constantly looking for more partners! If you are intersted in, please <a href="mailto:sales@pogoseat.com">contact us</a> for details!</h3>
            </div>
    </section>