<!-- Features -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">Pogoseat is an enterprise solution for sports teams and concert venues that enables their fans to upgrade seats and purchase unique VIP upgrades during events. Our mission is to provide fans with the ability to optimize their live entertainment experience and teams and venues a platform to increase fan engagement, monetize unused inventory and gather data to improve the fan experience.</h3>
                </div>
            </div>
            <div class="container text-center features">
                <div class="col-sm-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-line-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Instant Revenue Boost</h4>
                    <p class="text-muted">No more unsold inventory. Sell tickets after the event has started. Our analytics will help you select the perfect price.</p>
                </div>
                <div class="col-sm-4">
                    <span class="fa-stack fa-4x center">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Total Integration</h4>
                    <p class="text-muted">Leverage your existing platform. Pogoseat integrates with your loyalty system, CRM, point of sale, and third-party vendors.</p>
                </div>
                <div class="col-sm-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-pie-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">In-Depth Analytics</h4>
                    <p class="text-muted">Instant, detailed information at your fingertips. Discover who is upgrading, where they're moving, and how to maximize your revenue.</p>
                </div>
                <div class="col-sm-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tachometer fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Powerful Dashboard</h4>
                    <p class="text-muted">Manage events, price rules, and more. Complete control over your events.</p>
                </div>
                <div class="col-sm-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tags fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">White Label</h4>
                    <p class="text-muted">Seen, but not heard. Pogoseat promotes your brand, so your users have a cohesive experience from start to finish. </p>
                </div>
                <div class="col-sm-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Zero Maintenance</h4>
                    <p class="text-muted">Hands off all season. Pogoseat integrates your ticketing platform to automatically manage inventory and events. Our customer support handles game-time issues, so you don't have to.</p>
                </div>
            </div>
        </div>
    </section>